@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

.c-button {
  display: block;
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 240px;
  height: 44px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: import.$color-lightgreen;
  border-radius: 12px;
  color: import.$color-white;
  padding: 13px 21.33px 11px 44px;
  &::before {
    content: "";
    position: absolute;
    bottom: 20.5px;
    right: 32.17px;
    width: 25.5px;
    height: 1px;
    background: import.$color-white;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 22.5px;
    right: 31.17px;
    width: 7px;
    height: 1px;
    background: import.$color-white;
    transform: rotate(25deg);
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  &:hover {
    background-color: import.$color-lightgreen;
    filter: brightness(150%);
  }
}

