@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

.c-button {
  display: block;
  position: absolute;
  width: 190px;
  height: 36px;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: import.$color-btn;
  border-radius: 6px;
  color: import.$color-white;
  padding: 12px 21.1px 7px 38px;
  right: 1%;
  margin-top: 10px;
  &::before{
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    bottom: 0;
    content: "";
    height: 10px;
    margin: auto;
    position: absolute;
    right: 26px;
    top: 0;
    transform: rotate(45deg);
    width: 10px;
  }
  &:hover{
    background-color: import.$color-btn;
    filter: brightness(150%);
    }
}

@include m.mq(pc) {
  .c-button {
    position: absolute;
    right:20px;
}
}
